.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 180px;
    gap: 40px;
}

.contact-title{
    position: relative;
    margin-bottom: 50px;
}

.contact-title h1{
    padding: 0px 30px;
    font-size: 70px;
    font-weight: 600;
}

.contact-title img{
    position: absolute;
    bottom: 8px;
    right: 20px;
    width: 140px;
    z-index: -1;

}

.contact-right{
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1;
}

.contact-section{
    display: flex;
    gap: 50px;
}

.contact-left{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-left h1{
    font-size: 80px;
    font-weight: 500;
    background: linear-gradient(270deg, #DF8908 80%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-left p{
    max-width: 550px;
    color: #d8d8d8;
    font-size: 20px;
}

.contact-details{
    display:flex;
    flex-direction: column;
    gap: 20px;
    color: #d8d8d8;
    font-size: 22px;
}

.contact-detail{
    display: flex;
    align-items: center;
    gap: 15px;
}
.contact-detail img{
   width: 30px;
}

.contact-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}

.contact-right label{
    font-size: 22px;
    font-weight: 500;
    color: #d8d8d8;
}

.contact-right input{
    border: none;
    width: 700px;
    height: 78px;
    padding-left: 20px;
    border-radius: 4px;
    font-family: outfit;
    font-size: 20px;
    background: #32323C;
    color: #A0A0A0;
}

.contact-right textarea{
    border: none;
    width: 700px;
    padding: 20px;
    border-radius: 4px;
    font-family: outfit;
    font-size: 20px;
    background: #32323C;
    color: #A0A0A0;
}

.contact-submit{
    border: none;
    color: white;
    border-radius: 50px;
    background: linear-gradient(270deg, #DF8908 -5.09%, #B415FF 100%);
    font-size: 22px;
    padding: 18px 40px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.contact-submit:active{
    transform: scale(0.95);
}