.footer{
    display: flex;
    flex-direction:column;
    margin: 100px 180px;
    gap: 30px;
}

.footer-top{
    display: flex;
    justify-content: space-between;
}

.footer-top-left p{
 font-size: 18px;
 max-width: 400px;
}

.footer-top-left img{
    width: clamp(80px, 50vw, 180px);
    margin-bottom: 1rem;
}

.footer-top-right{
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-email-input{
    display: flex;
    gap: 20px;
    padding: 10px 30px;
    border-radius: 50px;
    background: #32323b;
}

.footer-email-input input{
    outline: none;
    border: none;
    background: transparent;
    color: #a0a0a0;
    font-family: Outfit;
    font-size: 18px;
}

.footer-subscribe{
    font-size: 20px;
    padding: 10px 40px;
    border-radius: 50px;
    border: 1px solid #ffffff;
    cursor: pointer;
    transition: 0.3s;
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.footer-bottom-right{
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
}

.footer-subscribe:active{
    transform: scale(0.95);
}

