.footer{
    display: flex;
    flex-direction:column;
    gap: 30px;
    width: 100%;
    background-color: #0b0228;
    padding-top: 30px;
}

.barre{
    margin: 0 180px;
    border : 1px solid #d9792a;
    opacity: 0.4;
}

.footer-top{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 180px;
    gap: 25px;
}

.footer-top-left p{
 font-size: 18px;
 max-width: 400px;
}

.footer-top-left img{
    width: clamp(80px, 50vw, 180px);
    margin-bottom: 1rem;
}

.footer-top-right{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.footer-email-input{
    display: flex;
    gap: 20px;
    padding: 10px 30px;
    border-radius: 50px;
    background: #1c1c44;
}

.footer-email-input input{
    outline: none;
    border: none;
    background: transparent;
    color: #a0a0a0;
    font-family: Outfit;
    font-size: 18px;
}

.footer-subscribe{
    font-size: 18px;
    padding: 10px 40px;
    border-radius: 50px;
    border: 1px solid #ffffff;
    cursor: pointer;
    transition: 0.3s;
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin: 0 180px;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-bottom-right{
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.footer-subscribe:active{
    transform: scale(0.95);
}

